/Homework_1/.vscode/
/Homework_1/EE569_hw1_3326730274_Xiao.txt
/Homework_2/Pig_CannyEdge.raw
/Homework_2/Pig_SobelEdge.raw
/Homework_2/Tiger_CannyEdge.raw
/Homework_2/Tiger_SobelEdge.raw
/Homework_2/bridge_Halftone_fixed.raw
/Homework_2/bridge_Halftone_random.raw
/Homework_2/bridge_Halftone_FloydED.raw
/Homework_2/bridge_Halftone_JJNED.raw
/Homework_2/bridge_Halftone_StuckiED.raw
/Homework_2/bridge_Halftone_dithering2.raw
/Homework_2/bridge_Halftone_dithering32.raw
/Homework_2/bridge_Halftone_dithering8.raw
/Homework_3/22_StarShape.raw
/Homework_3/Forky_StarShape.raw
/Homework_3/ShrinkRes.raw
/Homework_3/deer_clear.raw
/Homework_5/data/
.DS_Store
